<% layout("/layouts/boilerplate")%>

    <body>
        <div clas="row mt-3 ">
            <div class="col-8 offset-2">

                <br>
                <h3>Edit your Listing</h3>
                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                    class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="title" class="form-lable">Title</label>
                                <input name="listing[title]" value="<%= listing.title %>" type="text"
                                    class="form-control" required />
                                <div class=valid-feedback>Title looks good!</div>

                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-lable">Description</label>
                                <textarea name="listing[description]" class="form-control"
                                    required> <%= listing.description %></textarea>
                                <div class=invalid-feedback>please enter short Description</div>
                                </div>
                                <br>

                             <div class="mb-3">
                                   Original Listing img:- <br>
                                      <!-- <img src="<%= originalImageUrl %>"/> -->
                               
                               <img src="<%= listing.image.url %>" class="card-img-top" alt="listing" style="height: 10rem; width:12rem ; ">
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-lable"> Upload New Image</label>
                                <input name="listing[image]"  type="file"
                                class="form-control"  />
                            </div>
                            

                            <div class="row">
                                <div class="mb-3 col-md-4">
                                    <label for="price" class="form-lable">Price</label>
                                    <input name="listing[price]" value="<%= listing.price %>" type="number"
                                        class="form-control" required />
                                    <div class=invalid-feedback>please enter price</div>

                                </div>

                                <div class="mb-3 col-md-8">
                                    <label for="country" class="form-lable">Country</label>
                                    <input name="listing[country]" value="<%= listing.country %>" type="text"
                                        class="form-control" required />
                                    <div class=invalid-feedback>country should be valid</div>

                                </div>
                            </div>

                            <label for="location" class="form-lable">Location</label>
                            <input name="listing[location]" value="<%= listing.location %>" type="text"
                                class="form-control" required />
                            <div class=invalid-feedback>Location should be valid</div>

                            <button class="btn btn-dark edit-btn mt-3">Edit</button>
                </form>
            </div>
        </div>

    </body>